$gray: gray;
$red: #CB2442;
$danger: #CB2442;
$jet: #303030;
$black: #000000;
$beige: #F2F2DE;
$dark-bg: #1a1a1a;
$violet: #8b6ccc;
$green: #00C49C;
$primary-darker: #6546A9;
$primary-lighter: #a68edc;
$primary-dark: #7259AC;
$crimson: crimson;
$dimgray: #696969;
$white: whitesmoke;
$darkgray: #121212;
$licorice: #141412;
$lightgray: #F9F9F9;
$mediumgray: #F4F4F4;
$mildwhite: #E8E8E8;
$truewhite: #FFFFFF;
$eerieblack: #1E1E1E;
$blackolive: #3B3B3B;
$raisinblack: #202020;
$antiflashwhite: #F2F2F2;
$transparent: transparent;
$darkslategray: darkslategray;
$warning: #E66639;
$success: #00C49C;
$warning-darker: #D03802;
$whatsapp:#4ac959;
$navbar-dark-color:white;
$dark: rgb(18, 18, 18);
$navbar-height: 305px;
$paragraph-color: rgba(0, 0, 0, 0.9);
$whatsapp-color: #4ac959;

/* :: DESIGN SYSTEM COLORS */
/* : Primary :  */
$primary: #8264C3;
$primary-100: #F3F0F9;
$primary-200: #E6E0F3;
$primary-300: #CDC1E7;
$primary-400: #B4A2DC;
$primary-500: #5B4689;
$primary-600: #413262;
$primary-700: #271E3B;
$primary-800: #0D0A14;

/* : Neutrals :  */
$neutral-100: #F0F1F5;
$neutral-200: #D1D6E0;
$neutral-300: #B3BBCC;
$neutral-400: #94A0B8;
$neutral-500: #47536B;
$neutral-600: #333C4D;
$neutral-700: #1F242E;
$neutral-800: #0A0C0F;

/* : Background : */
$white-bg: #FFFFFF;
$warm-bg: #F8F6F6;
