/* Custom font import */
@import "../assets/fonts/fonts";
/* Font styles definition*/
@import "../assets/styles/casai/font-variables";
@import "../assets/styles/casai/icomoon";
@import "../assets/styles/casai/variables";
@import "../assets/styles/casai/casai-root-variables";
@import "../assets/styles/bootstrap/base";

/* bootstrap initial files*/
@import "~bootstrap/scss/utilities";
@import '~bootstrap/scss/transitions';
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";



/* Storybook custom styles goes here*/
body {
    background-color: transparent;
}